body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      "header header header"
      "menu menu  menu"
      "nav main  right"
      "nav main  footer" ;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
  }

  header {
    grid-area: header;
    border: 2px solid red;
  }
  
  main {
    grid-area: main;
    border: 2px solid blue;
  }

  p {
    margin-top:-5px;
  }

  span {
    padding:5px;
  }

  h3 {
    margin-block-end:0.5em;  
    /* Space between Instructions Title and Instr. Body  */
  }
   
  
  .recipe-nav {
    grid-area: nav;
    border: 2px solid green;
  }

  .cuisine-nav {
    grid-area: menu;
    border: 2px solid purple;
  }

  .my-recipe-nav {
    grid-area: right;
    border: 2px solid pink;
  }

  /* .comments{
    grid-area: footer;
    border: 2px solid orange;
  } */

  {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  grid-area: footer;
  border: 2px solid orange;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #b0e2b1;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(236, 183, 183);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}